src/config.local.php
src/data/*
!src/data/plugins
src/data/plugins/*
!src/data/plugins/helloasso_checkout
src/include/lib/KD2
src/include/data
src/include/dependencies.list
src/modules
src/www/admin/static/mini.css
build
